@using IISLogReader.Navigation
@using IISLogReader.ViewModels
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<Breadcrumb>>
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="/">
                <em class="fa fa-home"></em>
            </a>
        </li>
        @foreach (var bc in Model)
        {
            if (string.IsNullOrEmpty(bc.Url))
            {
                <li class="active">@bc.Text</li>
            }
            else
            {
                <li class="active"><a href="@bc.Url">@bc.Text</a></li>
            }
        }
    </ol>
</div><!--/.row-->
