@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IISLogReader.ViewModels.Project.ProjectViewViewModel>
<div class="panel panel-default">
    <div class="panel-heading">
        URI Aggregates
        <span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span>
    </div>
    <div class="panel-body" style="display: block;">
        <p>
            URI Aggregates allows you to transform URI stems containing dynamic data into a single consolidated URI stem that gets reported as a single item.  By default, the following URI stems will be
            reported separately:
            <blockquote>
                <code>
                    /products/123/test<br />
                    /products/456/test
                </code>
            </blockquote>
            However, you may want these aggregated into a single item so the timings of these get consolidated into one average.  By adding the following regular expression:
            <blockquote>
                <code>^/products/[0-9]+/test$</code>
            </blockquote>
            with aggregate target:
            <blockquote>
                <code>/products/{id}/test</code>
            </blockquote>
            these two URLs would be reported as one, and averages calculated on the single aggregate target.
        </p>
        <br /><br />
        <div id="grid-settings-aggregates"></div>
        <div class="row col-md-12" style="margin-top:15px;">
            <button class="btn btn-success" v-on:click="onNewProjectAggregateClick"><i class="fa fa-plus-circle"></i> New aggregate</button>
        </div>
    </div>
</div>
<!-- MODAL dialog for adding a new aggregate -->
<div class="modal fade" id="dlg-project-aggregate" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Aggregate Url</h4>
            </div>
            <div class="modal-body">
                <div id="project-aggregate-msg-error" class="alert alert-danger hidden" role="alert">An error occurred.</div>
                <form id="form-project-aggregate" class="form-horizontal" role="form" method="post" onsubmit="return false">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Regular Expression</label>
                        <div class="col-sm-9">
                            <input v-model="aggregateRegEx" id="paRegularExpression" class="form-control" placeholder="^/example/[0-9]+$" type="text" value="" v-on:keyup="onAggregateInputKeyUp">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Aggregate Target</label>
                        <div class="col-sm-9">
                            <input v-model="aggregateTarget" id="paAggregateTarget" class="form-control" placeholder="/example/{id}" type="text" value="" v-on:keyup="onAggregateInputKeyUp">
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Test it!</label>
                        <div class="col-sm-9">
                            <input v-model="aggregateTest" id="paTest" class="form-control" placeholder="/example/12345" type="text" value="" v-on:keyup="onAggregateInputKeyUp">
                            <div id="project-aggregate-test" class="alert bg-primary" role="alert" style="margin-top:10px;">
                                <em id="project-aggregate-icon" class="fa fa-lg fa-warning">&nbsp;</em> 
                                {{aggregateTestText}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i id="project-aggregate-spinner" class="hide fa fa-circle-o-notch fa-spin fa-lg fa-fw pull-right"></i>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btn-submit-project-aggregate" type="button" class="btn btn-primary" v-on:click="onSaveProjectAggregateClick">Save</button>
            </div>
        </div>
    </div>
</div>


