@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IISLogReader.ViewModels.User.UserViewModel>
@using IISLogReader.BLL.Models
@using IISLogReader.Navigation
@using IISLogReader.ViewModels
@using System.Collections.Generic
@{
    Layout = "Views/Layouts/MainLayout.cshtml";
    ViewBag.Title = "IISLogReader :: Users";
    List<Breadcrumb> breadcrumbs = new List<Breadcrumb>();
    breadcrumbs.Add(new Breadcrumb("Users"));
}
@Html.Partial("Shared/_BreadcrumbPanel", breadcrumbs)

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Users</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button id="btn-add-user" class="btn btn-success btn-custom-padded"><i class="fa fa-plus-circle"></i> New user</button>
    </div>
</div>
<br />
<!-- Content -->
<div id="content">
    <div id="pnl-loading">
        <i class="pull-left fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
        <h4 class="pull-left">Loading users...</h4>
    </div>
    <div id="pnl-users">
    </div>
</div>
<div class="modal fade" id="dlg-user" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add user</h4>
            </div>
            <div class="modal-body">
                <div id="user-msg-error" class="alert alert-danger hidden" role="alert">An error occurred.</div>
                <form id="form-user" class="form-horizontal" role="form" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">User name</label>
                        <div class="col-sm-9">
                            <input id="txt-user" class="form-control" placeholder="User name" name="UserName" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9">
                            <input class="form-control" placeholder="Password" name="Password" type="password" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Confirm password</label>
                        <div class="col-sm-9">
                            <input class="form-control" placeholder="Retype password" name="ConfirmPassword" type="password" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Role</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="Role">
                                <option value=""></option>
                                @foreach (var r in IISLogReader.BLL.Security.Roles.AllRoles)
                                {
                                    <option value="@r">@r</option>
                                }
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i id="user-spinner" class="hide fa fa-circle-o-notch fa-spin fa-lg fa-fw pull-right"></i>
                <input type="hidden" id="hid-user-id" name="UserId" value="" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btn-submit-user" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

