@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IISLogReader.ViewModels.Dashboard.DashboardViewModel>
@using Nancy.Security
@using IISLogReader.BLL.Models
@using IISLogReader.ViewModels
@using IISLogReader.Navigation
@using IISLogReader.BLL.Utils
@using IISLogReader.BLL.Security
@using System.Collections.Generic
@{
    Layout = "Views/Layouts/MainLayout.cshtml";
    ViewBag.Title = "IISLogReader :: Dashboard";
    List<string> currentUserClaims = ViewBag.Claims;

    List<Breadcrumb> breadcrumbs = new List<Breadcrumb>();
    breadcrumbs.Add(new Breadcrumb("Dashboard"));
}
@Html.Partial("Shared/_BreadcrumbPanel", breadcrumbs)

<div id="content-dashboard">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            @if (Model.IsProjectEditor)
            {
                <div id="dashboard-text">Group your log files into projects to analyse different sets of data.  Files can be imported into multiple projects.</div>
            }
            else
            {
                <div id="dashboard-text">Click on a project to view load times and statistics.  Speak to an administrator to create new projects.</div>
            }
        </div>
    </div>
    <br />
    @if (Model.IsProjectEditor)
    {
        <div id="dashboard-buttons-row" class="row">
            <div class="col-lg-12">
                <button class="btn btn-success btn-custom-padded" v-on:click="onNewProjectClick"><i class="fa fa-plus-circle"></i> New project</button>
            </div>
        </div>
    }

    <!-- MODAL dialog for adding a new project -->
    <div class="modal fade" id="dlg-project" tabindex="-1" role="dialog" aria-labelledby="modal-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add project</h4>
                </div>
                <div class="modal-body">
                    <div id="project-msg-error" class="alert alert-danger hidden" role="alert">An error occurred.</div>
                    <form id="form-project" class="form-horizontal" role="form" method="post" onsubmit="return false">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Project name</label>
                            <div class="col-sm-9">
                                <input id="projectName" v-model.trim="projectName" class="form-control" placeholder="Project name" type="text" value="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <i id="project-spinner" class="hide fa fa-circle-o-notch fa-spin fa-lg fa-fw pull-right"></i>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="btn-submit-project" type="button" class="btn btn-primary" v-on:click="onSaveProjectClick">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>