@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Nancy.Security
@using IISLogReader.BLL.Data.Models
@using IISLogReader.Navigation
@using IISLogReader.BLL.Utils
@using IISLogReader.BLL.Security
@using System.Collections.Generic
@model IISLogReader.ViewModels.Dashboard.DashboardViewModel
@{
    Layout = "Views/Layouts/MainLayout.cshtml";
    ViewBag.Title = "IISLogReader :: Dashboard";
    List<string> currentUserClaims = ViewBag.Claims;
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div>Group your log files into projects to analyse different sets of data.  Files can be imported into multiple projects.</div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-success btn-custom-padded"><i class="fa fa-plus-circle"></i> New project</button>
    </div>
</div>
<br />

